{% extends "gba_menu.html" %}
{% block screenMenu %}
<h1>Match:</h1>
{% endblock %}
{% block content %}
<a href="{% url 'match:new' %}"> Create new match</a><br>
<h4> Matches until date:</h4>
<div class="container-fluid col-md-8 ">
    <table class="table col-md-offset-1">
        <tr>
            <td>Competition</td>
            <td>Home Team</td>
            <td></td>
            <td>Away Team</td>
            <td>Date</td>
            <td></td>
        </tr>
        {% for match in allMatches %}
        <form action="{% url 'match:delete' %}" method="post" id="teste">
            {% csrf_token %}
            <input type="hidden" value="{{ match.id }}" id="match" name="match">
            <tr>
                <td>{{ match.competition.competition_name }}</td>
                <td>{{ match.homeTeam }}</td>
                <td> vs</td>
                <td>{{ match.awayTeam }}</td>
                <td>{{ match.matchTime }}</td>
                <td><span class="glyphicon glyphicon-remove" style="cursor: pointer;"
                          onclick="document.getElementById('match').value = {{ match.id }};document.getElementById('teste').submit();"></span>
                </td>
            </tr>
        </form>
</div>
{% endfor %}
{% endblock %}