{% extends "gba_menu.html" %}

{% block screenMenu %}
<h1>Match</h1>
{% endblock %}
{% block content %}

<h1>Insert new Match</h1>
<form method="post" action="{% url 'match:index' %}">
    {% csrf_token %}

    <h4>Select Competition:</h4>
     <select>
        {% for competition in allCompetitions %}
        <option> {{ competition.competition_name }} </option>
        {% endfor %}
    </select>

    <h4>Select home team:</h4>
     <select>
        {% for team in allTeams %}
        <option> {{ team.team_name }} </option>
        {% endfor %}
    </select>

    <h4>Select away team:</h4>
    <select>
        {% for team in allTeams %}
        <option> {{ team.team_name }} </option>
        {% endfor %}
    </select>

    <h4>Insert match date (format: dd-mm-YYYY):</h4>
    <input type="text" >

    <input type="submit" value="Add new match!">
</form>
{% endblock %}