<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<h2>Menu:</h2>
<a href="{% url 'competition:index' %}">Competitions</a><br>
<a href="{% url 'market:index' %}">Markets</a><br>
<a href="{% url 'team:index' %}">Teams</a><br>
<a href="{% url 'trade:index' %}">Trades</a><br>

<h1>Insert new Competition</h1>
<form method="post" action="{% url 'competition:insert' %}">
    {% csrf_token %}
    <input name="competitionName">
    <input type="submit" value="Add new competition!"></input>
</form>

</body>
</html>