<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <!--<title>{% block title %}My amazing site{% endblock %}</title>-->
</head>

<body>
<a href="{% url 'competition:index' %}">Competitions</a>
<a href="{% url 'team:index' %}">Teams</a>
<a href="{% url 'trade:index' %}">Trades</a>
<a href="{% url 'market:index' %}">Markets</a>
<a href="{% url 'match:index' %}">Matches</a>

<div>
    <h1>{% block screenMenu %}{% endblock %}</h1>
</div>
        {% block content %} {% endblock %}
</body>
</html>