{% extends "gba_menu.html" %}

{% block screenMenu %}
<h1>Trades</h1>
{% endblock %}
{% block content %}

<a href="{% url 'trade:new' %}"> Create new trade</a><br>
<table class="table">
    <tr>
        <td>Match</td>
        <td>Invested</td>
        <td>Profit & Loss</td>
        <td>ROI</td>
        <td>Delete all</td>
    </tr>

    {% for trade in allTrades %}
    <tr id="{{trade.id}}">
        <td>{{trade.match}}</td>
        <td>{{trade.market}}</td>
        <td>{{trade.invested}}€</td>
        <td>{{trade.profitLoss}}€</td>
        <td>{{ trade.divide }}%</td>
        <td><a href="{% url 'trade:delete' trade.id %}">
            <span class="glyphicon glyphicon-remove" style="cursor: pointer;"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}