{% extends "gba_menu.html" %}

{% block screenMenu %}
<h1>Trades</h1>
{% endblock %}
{% block content %}

<h1>Insert new trade</h1>
<form method="post" action="{% url 'trade:insert' %}">
    {% csrf_token %}

    <h4>Select match:</h4>
    <select>
        {% for match in allMatches %}
        <option>{{ match }}</option>
        {% endfor %}
    </select>

    <h4>Select market:</h4>
    <select>
        {% for market in allMarkets %}
        <option> {{ market.market_name }}</option>
        {% endfor %}
    </select>

    <h4>Insert stake value:</h4>
    <input name="stakeValue"> €

    <h4>Insert profit/loss:</h4>
    <input name="profitLossValue"> €
    <input type="submit" value="Add new trade!">
</form>
{% endblock %}